<%= render "shared/banner" %>



<%# Mes services %>
<div class="title-services">
  <h4>Ce que je propose</h4>
  <h2>SERVICES</h2>
</div>

<div class="line-container">
  <div class="line"></div>
  <div class="square-container">

    <div class="square">
      <h3>Gestion de projet</h3>
      <i class="fa-solid fa-rocket"></i>
      <div class="magic-hat-content">
        <p>Design de site internet, Application web & mobile, Mise en page de contenu</p>
      </div>
    </div>

    <div class="square">
      <h3>Web design</h3>
      <i class="fa-sharp fa-solid fa-wand-magic-sparkles"></i>
      <div class="magic-hat-content">
        <p>Votre identité de marque (logo, design de tous supports web) est créée sur mesure pour répondre aux besoins de votre cible.</p>
      </div>
    </div>

    <div class="square">
      <h3>Création de sites internet</h3>
      <i class="fa-solid fa-code"></i>
      <div class="magic-hat-content">
        <p>La création de site web est indispensable pour améliorer la visibilité de ses activités. Le développement de votre site web est réalisé avec soin et répond aux standards web du W3C.</p>
      </div>
    </div>

    <div class="square">
      <h3>Optimisation SE0</h3>
      <i class="fa-solid fa-signal"></i>
      <div class="magic-hat-content">
        <p>Votre site internet est développé avec pour objectif d’apparaître dans les premières pages sur les moteurs de recherche.</p>
      </div>
    </div>

    <div class="square">
      <h3>Hébergement et maintenance</h3>
      <i class="fa-solid fa-server"></i>
      <div class="magic-hat-content">
        <p>Services d'hébergement web fiables et sécurisés pour garantir la disponibilité et la performance optimale de votre site web. </p>
      </div>
    </div>

  </div>
</div>



<div class="title-competences">
  <h4>Ce que je sais faire</h4>
  <h2>COMPETENCES</h2>
</div>


<%#
<section class="skills">
  <h2>Mes compétences en informatique</h2>
  <ul>
    <li>
      <h3>Programmation</h3>
      <p>Maîtrise des langages suivants : HTML, CSS, JavaScript, Ruby, Python, Java.</p>
      <div class="skill-level" data-level="90"></div>
    </li>
    <li>
      <h3>Design d'interfaces</h3>
      <p>Expérience en design d'interfaces utilisateur pour des applications web et mobiles.</p>
      <div class="skill-level" data-level="80"></div>
    </li>
    <li>
      <h3>Bases de données</h3>
      <p>Connaissances en SQL et en gestion de bases de données relationnelles.</p>
      <div class="skill-level" data-level="70"></div>
    </li>
  </ul>
</section> %>

<section class="skills" data-controller="skills">
  <div class="skill" data-skills-target="progress">
    <h3>Compétence 1</h3>
    <div class="progress">
      <div class="progress-bar" data-level="80"></div>
    </div>
  </div>
  <div class="skill" data-skills-target="progress">
    <h3>Compétence 2</h3>
    <div class="progress">
      <div class="progress-bar" data-level="60"></div>
    </div>
  </div>
  <div class="skill" data-skills-target="progress">
    <h3>Compétence 3</h3>
    <div class="progress">
      <div class="progress-bar" data-level="40"></div>
    </div>
  </div>
</section>











<%# contact %>
<div class="wrapper-contact">
  <div class="title-contact">
    <h4>Envie d'échanger?</h4>
    <h2>CONTACT</h2>
  </div>
  <div class="container-contact">
    <div class="contact-infos">
      <div class="image-container">
        <img src="https://images.unsplash.com/photo-1581291519195-ef11498d1cf2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjN8fHNlcnJhZ2UlMjBkZSUyMG1haW5zfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Image" />
      </div>
      <div class="contact-details">
        <h3>Ines Naamane</h3>

        <div class="infos">
          <h4>Téléphone</h4>
          <p> 07 62 23 12 45</p>
        </div>

        <div class="infos">
          <h4>Email</h4>
          <p>i.naamane@gmail.com</p>
        </div>

        <div class="infos">
          <h4>Adresse</h4>
          <p>71 Rue Pierre Joseph Proud'hon, La Seyne Sur Mer, France</p>
        </div>

      </div>
    </div>
    <div class="contact-form">
      <%= simple_form_for :contact, url: create_contact_path do |f| %>
        <%= f.input :name, label: 'Nom', required: false, input_html: { class: 'input-row' }  %>
        <%= f.input :email, label: 'Email', required: false, input_html: { class: 'input-row' }  %>
        <%= f.input :phone, label: 'Téléphone', required: false, input_html: { class: 'input-row' }  %>
        <%= f.input :subject, label: 'Sujet', required: false, input_html: { class: 'input-row' }  %>
        <%= f.input :body, label: 'Message', as: :text, required: false, input_html: { id: 'autoresize', contenteditable: true, class: 'input-row' } %>
        <%= button_tag type: 'submit', class: 'btn-submit' do %>
          Envoyer <i class="fas fa-arrow-right"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
